<header> 
  <div id="logo"><h1 class="center">Movie Feast</h1></div>
  <div id="menu" class="center">
    <button routerLink="home">Home</button>
    <button routerLink="bet">Bet</button>
    <button routerLink="testing">Reviews</button>
    <button routerLink="testing">Exploration</button>
    <button routerLink="testing">Fellowship</button>
    <button routerLink="testing">History</button>
    <button routerLink="testing">Login</button>
    <button routerLink="testing">Test</button>
  </div>

</header>
<router-outlet></router-outlet>